packages:
 yum:
    python-pip: []
    memcached: []
  rpm:
    epel: http://download.fedora.redhat.com/pub/epel/5/i386/epel-release-5-3.noarch.rpm
container_commands:
    07_pip_clean:
        command: "pip freeze | grep -v -f requirements.txt - | grep -v '^#' | xargs -r pip uninstall -y"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: webserver/wsgi.py
