option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: webserver/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: webserver/static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: webserver.settings

